[submodule "Keyboard"]
	path = TastyImitationKeyboard
	url = https://github.com/ratreya/tasty-imitation-keyboard.git
[submodule "AKPickerView"]
	path = AKPickerView
	url = https://github.com/Akkyie/AKPickerView-Swift.git
