<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>ScriptName</key>
	<string>Devanagari</string>
	<key>SchemeName</key>
	<string>SA_Barahavat</string>
	<key>IMKCandidatesOpacityAttributeName</key>
	<real>0.9</real>
	<key>LoggingLevel</key>
	<string>Warning</string>
	<key>BackspaceDeletes</key>
	<string>Input character</string>
	<key>OnUnfocusUncommitted</key>
	<string>Automatically commits</string>
	<key>ShowInputString</key>
	<true/>
	<key>ShowOutputString</key>
	<true/>
	<key>OutputInCandidate</key>
	<true/>
	<key>OverrideCandidateFont</key>
	<false/>
	<key>CombineWithPreviousGlyph</key>
	<true/>
	<key>CandidatesStringAttributes</key>
	<data></data>
	<key>CandidatePanelType</key>
	<string>kIMKScrollingGridCandidatePanel</string>
	<key>FormatString</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJpbmcBlIQBK4GhAFJlcGxhY2UgdGhpcyB0ZXh0IHdpdGggc29tZSB0ZXh0IGluIHlvdXIgZGVzaXJlZCBsYW5ndWFnZS4gU2VsZWN0IGFsbCBhbmQgcmlnaHQgY2xpY2sgdG8gZm9ybWF0IGl0LiBUaGlzIGZvcm1hdCB3aWxsIGJlIGFwcGxpZWQgdG8gdGhlIHRleHQgaW4gdGhlIHBvcC11cCB3aW5kb3cuhoQCaUkBgaEAkoSEhAxOU0RpY3Rpb25hcnkAlIQBaQKShJaWEE5TUGFyYWdyYXBoU3R5bGWGkoSEhBBOU1BhcmFncmFwaFN0eWxlAJSEBENDQFMEAIUAhpKElpYGTlNGb250hpKEhIQGTlNGb250HpSZHIQFWzI4Y10GAAAAFAAAAP/+SABlAGwAdgBlAHQAaQBjAGEAhAFmDoQBYwCfAZ8AnwCGhoY=</data>
</dict>
</plist>
