<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeName</key>
	<string>Barahavat-Devanagari</string>
	<key>NSForegroundColorAttributeName</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
	<key>NSBackgroundColorDocumentAttribute</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
	<key>IMKCandidatesOpacityAttributeName</key>
	<real>0.9</real>
	<key>CandidateFontName</key>
	<string>DevanagariMT</string>
	<key>CandidateFontSize</key>
	<integer>15</integer>
</dict>
</plist>
